:root {
  --nav-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: rgba(47, 48, 58, 1);
  --white-color: rgba(255, 255, 255, 1);
  --button-background: rgba(245, 244, 250, 1);
  --card-set-gap: 30px;
  --socials-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: Roboto;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-media {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  list-style: none;
  margin-left: 93px;
}

.site-media {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link,
.site-media .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-media .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 25px;
  padding-top: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-primary {
  color: rgba(33, 150, 243, 1);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--nav-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item {
  position: relative;
}

.site-nav .item::after {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  content: "";
  outline: 1px solid var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:hover::after {
  opacity: 1;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-media .link:hover,
.site-media .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 1px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

.site-media .link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-media,
.site-nav {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-media .icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Main */
/* hero-section */

.hero {
  max-width: 1600px;
  height: 600px;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px;
  border: 0px;
  margin: auto;
}

/* features-section */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section {
  padding-top: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.features {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.features .item {
  width: 270px;
}

.features-icon {
  text-align: center;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.features-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin: 0;
}

/* speciality */

.speciality {
  display: flex;
  list-style: none;
  padding-bottom: 94px;
  margin: 0 auto;
  padding-left: 0;
}

.speciality .item:not(:last-child) {
  margin-right: 30px;
}

.speciality-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.speciality .thumb {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  border: none;
}

/* team */

.team {
  display: flex;
  list-style: none;
  padding-bottom: 94px;
  padding-left: 0;
  margin: 0;
}

.team .member-list:not(:last-child) {
  margin-right: 30px;
}

.section-team {
  background-color: rgba(245, 244, 250, 1);
}

.member-list {
  background-color: var(--primary-bg-color);
  text-align: center;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-info {
  padding-top: 30px;
  margin-bottom: 16px;
}

.member-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}

.team-position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.socials {
  padding: 0 32px 30px 32px;
}

.member-socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.member-socials .button {
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
  color: var(--socials-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-socials {
  fill: currentColor;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.clients-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  padding-bottom: 94px;
  margin: 0;
}

.clients-icons .button {
  padding: 16px 32px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: var(--socials-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-clients {
  fill: currentColor;
}

.clients-icons .button:hover,
.clients-icons .button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* footer */

.footer {
  display: flex;
  background-color: var(--secondary-bg-color);
  max-width: 1600px;
  margin: 0 auto;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .logo {
  display: inline-block;
  color: var(--white-color);
  margin: 0 0 20px 0;
  padding: 0;
}

.address {
  display: inline-block;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-bottom: 60px;
}

.address .item {
  margin: 0;
}

.footer .media {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-socials {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.social-invite {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.footer-socials .button {
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info {
  margin-right: 70px;
  padding-top: 60px;
}

.footer .social {
  padding-top: 72px;
  padding-bottom: 100px;
}

.footer-socials .item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials .button:hover,
.footer-socials .button:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .button {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: var(--primary-bg-color);
  cursor: pointer;
}

.button-close {
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  padding: 5px;
}

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0 0 50px 0;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter .button.current {
  color: var(--white-color);
  background-color: var(--accent-color);
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: 0px;
  margin: auto;
}

.filter .button {
  color: var(--title-text-color);
  background-color: var(--button-background);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: 0px;
  margin: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white-color);
}

.example-list:hover,
.example-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.examples > .example-list {
  background-color: var(--white-color);
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-thumb {
  position: relative;
}

.example-thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.description {
  position: absolute;
  width: 322px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description-text {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.example-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.example {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.example-name {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.example-filter {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: 0;
}
